.container_top
  #log_in_link
    - if current_user
      = link_to "Log out ( #{current_user.email} )", log_out_path
    - else
      = link_to 'Login', log_in_path
  %header.top
    .logo
      = link_to 'star37', root_path
    .add_link
      = form_for @link do |f|
        = f.text_field :content
        = f.submit 'Add', :class => 'btn'
    .menu
      .search
        = form_tag links_path, :method => :get do
          = text_field_tag :search, params[:search], :placeholder => 'search'
          = submit_tag :search, :id => 'search_btn'
      .nav
        %nav
          %ul
            %li
              = link_to 'p', root_path, :class => 'nav_btn'
            %li
              = link_to 'C', '#', :class => 'nav_btn'
            %li
              = link_to 'r', '#', :class => 'nav_btn'
            %li
              = link_to 'U', log_in_path, :class => 'nav_btn', :title => 'login'

.content
  .links_list
    - @links.each do |link|
      = render 'link', :link => link

