.container_top
  %header.top
    .logo
      = link_to 'star37', root_path
    .add_link
      = form_for @link do |f|
        = f.text_field :content
        = f.submit 'Add', :class => 'btn'
    .menu
      .search
        = form_tag links_path, :method => :get
        = search_field_tag :search, params[:search], :placeholder => 'search'
        = submit_tag :search, :id => 'search_btn'
      .nav
        %nav
          %ul
            %li
              = link_to 'p', root_path, :class => 'nav_btn'
            %li
              = link_to 'C', '#', :class => 'nav_btn'
            %li
              = link_to 'r', '#', :class => 'nav_btn'
            %li
              = link_to 'U', '#', :class => 'nav_btn'

.content
  .links_list
    - @links.each do |link|
      = render 'link', :link => link

